<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa Đông Không Lạnh</title>
</head>
<body>
    <a href="{{url_for("logout")}}">Đăng xuất</a>
    <div>
        <img src="{{service.image}}" alt="" >
        <p>Tên: {{service.name}}</p>
        <p>Năm sinh: {{service.yob}}</p>
        <p>Chiều cao: {{service.height}}</p>
        <p>Số điện thoại: {{service.phone}}</p>
        <p>Địa chỉ: {{service.address}}</p>
        <p>Mô tả:   {{ service.descriptions[0] }}, 
                    {{ service.descriptions[1] }}, 
                    {{ service.descriptions[2] }}.  
                </p>
        <p>Số đo 3 vòng:    {{ service.measurements[0] }} - 
                            {{ service.measurements[1] }} - 
                            {{ service.measurements[2] }}.    
                        </p>
    </div>
    <a href="{{ url_for("ordered") }}">Yêu cầu dịch vụ</a>
</body>
</html>