<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa Đông Không Lạnh</title>
    {% include "meta-data.html"%}
    {% include "homepage/navigation.html"%}
    {% include "homepage/carousel.html"%}
    {% include "homepage/bg-2.html"%}
    {% include "homepage/bg-3.html"%}
    {% include "homepage/bg-4.html"%}    
    {% include "homepage/bg-5.html"%}    
</head>
<body>
</body>
</html>