<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa Đông Không Lạnh</title>
</head>
<body>
    <form>Đăng nhập</form>
    <br>
    <label>Username</label>
    <input type="text" name = "username">
    <br>
    <label>Password</label>
    <input type="password" name = "password">
    <br>
    <a href="{{ url_for("detail", service_id = service.id )}}">Đăng nhập</a>
    <a href="{{ url_for("signin")}}">Đăng ký</a>
</body>
</html>