<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa Đông Không Lạnh</title>
</head>
<body>
    <a href="{{url_for("logout")}}">Đăng xuất</a>
    <h1>Search page</h1>
    <a href="{{  url_for("index") }}">Click về trang chủ</a>
    {% for service in all_service %}
    <div>
        <!-- {% if service.gender == 0 %} 
            <img src="../static/image/female-profile.jpg" alt="">
        {% else %} 
            <img src="../static/image/male-profile.jpg" alt="">
        {% endif %}
        
        -->
        
        <img src="{{service.image}}" alt="">
        <p>Tên: {{service.name}}</p>
        <p>Năm Sinh: {{service.yob}}</p>
        <p>Chiều cao: {{service.height}}</p>
        
        <hr>
        <a href="{{ url_for("detail", service_id = service.id) }}">Tìm hiểu thêm</a>
        
        <hr>
    </div>
    {% endfor %}
        
</body>
</html>