<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mùa Đông Không Lạnh</title>
</head>
<body>
    <h1>Username</h1>
    <form method="POST" >
        <label>Tên đầy đủ:</label>
        <br>
        <input type="text" name="fullname">
        <br>
        
        <label>Email:</label>
        <br>
        <input type="text" name="email">
        <br>

        <label>Tên đăng nhập:</label>
        <br>
        <input type="text" name="username">
        <br>

        <label>Mật khẩu:</label>
        <br>
        <input type="password" name="password">
        <br>
        <br>
        <input type="submit" value="submit">
        
    </form>
</body>
</html>