<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>username</h2>
    <p> 
        <b> name:</b> 
        {{ username.name }} </p>
    <p> 
        <b> age:</b> 
        {{ username.age }} </p>
    <p> 
        <b> author_sex:</b> 
        {{ username.author_sex }} </p>
    <p> 
        <b> hobbit:</b> 
        {{ username.hobbit }} </p>
</body>
</html>