<div class="d-flex bg-light h-500px flex-column justify-content-center">
    <h2 class="text-center  my-5">Chào mừng các bạn đến với mùa đông không lạnh.</h2>
    <h5 class="text-center my-5 font-pacifico">"Chúng tôi ở đây để giúp đỡ cho bạn có mối quan hệ tốt đẹp với gia đình và người thân trong khi vẫn giữ được sự tự do và riêng tư, cũng như quyết định của bản thân bạn"</h5>
    <div class="d-flex container justify-content-between flex-row bg-light h-40">
        <div class="bg-image-female">
            <h3 class="text-right text-light my-5 mx-5">Bạn là nam</h3>
        </div>
        <div class="bg-image-male">
            <h3 class="text-left text-light my-5 mx-5">Bạn là nữ</h3>
        </div>
    </div>
</div>