<div class="bg-4">
    
    <h3 class="text-center text-dark my-5">Các gói dịch vụ</h3>
    
    <div class="d-flex justify-content-around"> 
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h4 class=" card-title">Gói cơ bản</h4>
            <p class="card-text">Dẫn bạn về ra mắt</p>
            <p class="card-text">Ăn cơm cùng gia đình</p>
            <p class="card-text">Không cầm tay hay tiếp xúc dưới mọi hình thức</p>
            <p class="card-text">Không phụ giúp công việc gia đình như rửa bát hay dọn dẹp</p>            
            <a href="#" class="btn btn-primary">Tìm hiểu thêm</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h4 class="card-title">Gói tiêu chuẩn</h4>
                <p class="card-text">Dẫn bạn về ra mắt</p>
                <p class="card-text">Ăn cơm cùng gia đình</p>
                <p class="card-text">Được cầm tay thể hiện tình cảm</p>
                <p class="card-text">Không phụ giúp công việc gia đình như rửa bát hay dọn dẹp</p>  
                <a href="#" class="btn btn-primary">Tìm hiểu thêm</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h4 class="card-title">Gói cao cấp</h4>
                <p class="card-text">Dẫn bạn về ra mắt</p>
                <p class="card-text">Ăn cơm cùng gia đình</p>
                <p class="card-text">Được cầm tay thể hiện tình cảm</p>
                <p class="card-text">Phụ giúp công việc gia đình như rửa bát hay dọn dẹp</p>  
                <a href="#" class="btn btn-primary">Tìm hiểu thêm</a>
            </div>
        </div>
    </div>
</div>   