<div class="bg-light d-flex flex-column h-500px">
    <h3 class="text-center text-dark my-5">Các gói dịch vụ</h3>
    <div class="d-flex justify-content-around">
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active">
                    Dẫn bạn về ra mắt
                </button>
                <button type="button" class="list-group-item list-group-item-action">Ăn cơm cùng gia đình</button>
                <button type="button" class="list-group-item list-group-item-action">Không nắm tay hay tiếp xúc dưới bất kì hình thức nào</button>
                <button type="button" class="list-group-item list-group-item-action">Bạn không phụ giúp gia đình các công việc nấu nướng hay dọn dẹp</button>
                <button type="button" class="list-group-item list-group-item-action" disabled></button>
            </div>

            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active">
                    Dẫn bạn về ra mắt
                </button>
                <button type="button" class="list-group-item list-group-item-action">Ăn cơm cùng gia đình</button>
                <button type="button" class="list-group-item list-group-item-action">Cho phép nắm tay thể hiện tình cảm</button>
                <button type="button" class="list-group-item list-group-item-action">Bạn không phụ giúp gia đình các công việc nấu nướng hay dọn dẹp</button>
                <button type="button" class="list-group-item list-group-item-action" disabled></button>
            </div>

            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active">
                    Dẫn bạn về ra mắt
                </button>
                <button type="button" class="list-group-item list-group-item-action">Ăn cơm cùng gia đình</button>
                <button type="button" class="list-group-item list-group-item-action">Cho phép nắm tay thể hiện tình cảm</button>
                <button type="button" class="list-group-item list-group-item-action">phụ giúp gia đình các công việc nấu nướng hay dọn dẹp</button>
                <button type="button" class="list-group-item list-group-item-action">Và nhiều bất ngờ khác</button>
                <button type="button" class="list-group-item list-group-item-action" disabled></button>
            </div>

        
    </div>
</div>